*.iml
gradle/*
.gradle/*
gradle/wrapper/
.gradle/wrapper/
gradle/cache.properties
.gradle/cache.properties
/local.properties
.idea/
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
build/
/build
captures/
/captures
.externalNativeBuild
.cxx
gradlew
gradlew.bat
local.properties
.kotlin/*
/.kotlin/*
